/* all */

html, body {
	min-height: 100%;
}

.__main {
	min-height: 100%;
    margin-bottom: -120px;
    padding: 0rem 1.5rem;
}

.__title {
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.__article {
    padding: 2.5rem 0rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.__article .subtitle {
    color: #8F8F8F;
    margin-bottom: 0;
}

.__banner .subtitle {
    color: #8F8F8F;
}

.__article .title {
    padding-bottom: 0.25rem;
}

.__tabs {
    font-size: 1.25rem;
}

.__tabs li {
    margin-left: 2rem;
}

.__tabs li a {
    padding: 0.5rem 0px;
}

.__tabs li:first-child {
    margin-left: 0;
    margin-right: auto;
}

.__actions {
	/* prefix maybe */
    position: absolute;
    top: calc(50% - 32.5px);
    right: 0;
}

.__save, .__unsave, .__comment {
    display: inline-block;
    margin-left: 0.65rem;
    width: 65px;
    height: 65px;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.__save i, .__unsave i, .__comment i {
    line-height: 65px;
}

.__favorites {
    position: absolute;
    top: 10px;
    right: 0;
}

.__footer {
	padding: 3rem 1.5rem !important;
}